


.carousel-container {
  position: relative;
  overflow: hidden;
  width: 880px; 
  margin: 40px auto;

}

.product-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.product {
  width: 250px;
  margin: 0 10px;
  border: 1px solid #ccc;
  padding: 10px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto; 
}

.product img {
  max-width: 100%;
  max-height: 100%;
}

.btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(160, 179, 192, 0.7);
  color: #fff; /* Màu chữ */
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgba(41, 128, 185, 0.9);
}

.btn-prev {
  left: 0;
}

.btn-next {
  right: 0;
}