.carousel-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.product-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.product {
  flex: 0 0 20%; /* 5 items per slide */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.product img {
  width: 100%;
  height: auto;
}

.btn {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #9d9191;
  color: #fff;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.btn-prev { left: 10px; }
.btn-next { right: 10px; }

.btn-prev {
  left: 0;
}
.btn-next {
  right: 0;
}
