.banner1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; 
    margin: 20px;
    
}
.col-md-4 {
        flex: 0 0 calc(33.33% - 10px); 
}

.banner_item {
    height: 700px; 
    background-position: center;
    position: relative;
    background-size: cover;
}

.banner_category {
    position: absolute;
    top: 80%;
    right: 70%;
    transform: translate(-50%, -50%);
    background-color: rgba(98, 92, 92, 0.7); 
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.banner_category a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.banner_category :hover {
    color: #b09a9a;
}