* {
  margin: 0;
  padding: 0;
}
.all {
  margin: auto;
  width: 1400px;
  height: auto;
  box-sizing: border-box;
}
body {
  font-family: Arial;
  text-align: center;
  background-color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*==================== Header ==================== */
.logo {
  width: 200px;
  padding-bottom: 10px;
}

.logo img {
  width: 80px;
}
header{
  position: relative;
}
.mn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  position:fixed;
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

ul {
  list-style: none;
}

.search-box {
  display: flex;
  align-items: center;
  height: 35px;
  border-radius: 17px;
  background-color: #ededed;
  margin-top: 8px;
}

#search-input {
  width: 150px;
  border: none;
  outline: none;
  height: 25px;
  background-color: #ededed;
}

#search-button {
  border: none;
  border-radius: 50%;
  align-items: center;
  margin-right: 2px;
  height: 30px;
  width: 35px;
  background-color: #ededed;

}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu ul li a {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px  ;
  display: block;
  color: black;
  
}

.menu a:hover {
  color: #cac9c9;
}

.tk{
  width: 100px;
  display: flex;
}
/* end Header*/


/*================ Home ================ */
.sl {
  margin: 80px 0 30px 0;
}

.sl img {
  width: 100%;
  height: auto;
}
.content img {
  width: 350px;
  height: auto;
  border: 1px solid #e8e7e7;
}

h4{
  font-weight: unset;
  font-size: 19px;
}
.giam-gia {
  display: inline-block;
  margin:20px 0; 
}

.tien {
  text-decoration: line-through;  
  display: inline-block;
  font-weight: normal;
  padding-right: 10px;
  font-size: 15px;
}

.sp1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
}

.sp {
  padding: 10px;
  background-color: #ffffff;
  text-align: left;
  margin: 70px 0;
  
}

.chu-sp{
  padding-top: 20px;
  height: auto;
  font-size: 18px;
}


.c {
  margin-bottom:60px ;
}
.shop button{
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-color: #e0dede;
  font-weight: bold;
  font-size: 18px;
  border: none;

}
.shop button:hover{
  background-color: black;
  color: white;

}

.c1 {
  font-size: 20px;
  padding: 20px;
  margin: 40px 0;
}
.c2 {
  font-size: 60px;
  font-weight: bold;
}
.ct {
  height: auto;
  margin: 150px 0;
}

.ct1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 70px 30px;
  gap: 100px;
}

.ct img {
  width: 500px;
  height: auto;
}

.ct2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 70px 30px;
  gap: 100px;
}
.chu{
 width: 270px;
 font-size: 27px;
 margin:30px 150px ;
}
.chu1{
  width: 225px;
  font-size: 27px;
  margin:30px 100px ;
 }
 a{
  text-decoration: none;
  color: black;
 }




/*=================== Footer ===============*/

.footer {
  text-align: left;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 27% 20% 18%  35%);
  font-weight: bold;
  font-size: 14px;
}
.footer a {
  margin-top: 40px;
  text-decoration: none;
}
.ft1 {
  margin-left: 40px;
  margin-bottom: 40px;
  display: grid;
}
.ft2 {
  margin-bottom: 40px;
  display: grid;        
}
.chuft {
  font-size: 12px;
  font-weight: normal;
  color: #808080;
}
.chuft a{
  color: #808080;
}
.chuft:hover {
  color: #fff;
}
.vn {
  margin-right: 20px;
  color: #fff;
  font-weight: normal;

}
.ft3 {
  margin-top: 30px;
  font-size: 13px;
}
.chuft2{
  font-size: 12px;
  font-weight: normal;
  margin-top: 345px;
  color: #808080;
  margin-left: 20px;

}
.chuft2 a{
  padding-right:20px  ;
  color: #808080;
}
.chuft2 a:hover {
  color: #fff;
}

.icon{
  margin-left: 30px ;
  color: #808080;
  font-size: 25px ;
}
.icon:hover {
  color: #fff;
}
/*end footer*/


/*====================== Chi tiét sản phẩm - Đăng ký đăng nhập ==============*/

 .all2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .all2 h2 {
  margin-top: 20px ;
  margin-bottom: 40px;
  width: 360px;
 }

 .logo2 img{
  margin-top: 150px;
  width: 50px;
}
input {
  padding-left:10px ;
  width: 330px;
  height: 40px;
  margin: 20px 0;
  border: 1px solid #cac9c9;
  font-size: 15px;
  color: #7e7e7e;

}
.cs{
  font-size: 13px;
  margin-top: 30px;
  color: #7e7e7e;
}
.cs  a{
  text-decoration: underline;
}
.dk{
  font-size: 13px;
  margin-top: 50px;
  margin-bottom: 100px;
  color: #7e7e7e;

}
.dk1{
  margin-bottom: 20px;
}
.dk a{
  text-decoration: underline;
}
.dn button{
    width: 347px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 5px;

}
.dn button:hover{
    background-color: rgb(66, 66, 66);
}

.logo3 img{
  margin-top: 50px;
  width: 50px;
  margin-left: 10px;
}
.nut1 button{
  font-size: 20px;
  width: 340px;
  height: 50px;
  background-color: black;
    border-radius: 5px;
    margin-bottom: 70px;

    color: white;
}
.nut1 button:hover{
  background-color: rgb(66, 66, 66);

}

.nut button{
  font-size: 20px;
  width: 167px;
  height: 50px;
  background-color: black;
    border-radius: 5px;
    color: white;
    margin-bottom: 70px;
}
.nut button:hover{
  background-color: rgb(66, 66, 66);

}
.shop button a:hover{
  color: white;
}

.g0 {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 20% 40% 45%;
}

.g2 {
  margin-right: 640px;
}

.g1 {
  margin-left: 180px;
  width: 140px;
}

.g1 img:hover {
  border: .5px solid black;
}

.chu2 {
  font-size: 28px;
  width: 250px;
  font-weight: 540;
}

.gia1{
  margin-top:10px ;
  font-weight: 550;

  margin-right: 118px;
  font-size: 20px;
}
.size{
  margin-top:35px ;
  width: 350px;
}
.size p{
  font-size: 15px;
  width: 100px;
}
.size button{

  border:1px solid #c7c7c7;
  width: 100px;
  border-radius: 5px;   
  margin-top:20px; 
  background-color: white;
  height: 45px;
  font-size: 17px;
}
.bt button:hover{
  border:2px solid black;
}
.bt button:focus{
  border:2px solid black;
}
.bt{
  margin-right: 24px;
}
.giohang button{
  width: 316px;
  height: 60px;
  margin-left: 5px;
  background-color: black;
  color: white;
  font-size: 18px;
  margin-top: 50px;
  border-radius: 50px;

}
.giohang button:hover{
  background-color: rgb(96, 96, 96);
}
.yeuthich button{
  width: 316px;
  height: 60px;
  margin-left: 5px;
  background-color: #fff;
  color: black;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 50px;
  border: 1px solid #c7c7c7;

}
.yeuthich button:hover{
  border: 1px solid black;
}
.tt{
  margin-top: 30px;
  width: 320px;
  font-size: 16px;
  margin-left: 5px;
  
}
hr{
  margin-top: 20px;
  margin-left: 15px;
  width: 295px;
}
.cl{
  width: 320px;
  font-size: 18.5px;
  margin-left: 2px;
  margin-top: 20px;
}
.cl1{
  width: 230px;
  font-size: 18.5px;
  margin-right: 300px;
  margin-top: 10px;
  list-style: disc;
}
.h{
  font-size: 24px;
  width: 350px;
  margin-left: 5px;
  margin-top: 50px;
}

/*====================== END chi tiét sản phẩm ==============*/

/*==========Giỏ Hàng============*/

.cart-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.product-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.remove-button {
  background-color: #ff6961;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.buttongh{
  background-color: #ff6961;
  width: 150px;
  height: 30px;
  margin-top: 30px;
}

