


.allgh{
    font-family: Arial;
    font-size: 16px;
    color: black;
}
.tuido{
    font-size: 24px;
    text-align: center;
    margin-top: 100px;

}
.tuido img{
    width: 50px;
    margin-bottom: 15px;
}
.tuido hr{
    margin: 40px 50px;
}
.h1{
    
    font-size: 29px;
    font-weight: 400;
    margin: 50px 190px; 

}


.giohangtt{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 28% 24% 15% 25%;
    
    font-size: 16px;
    color: black;

}

/*==========ẢNH==========*/
.anhsp{
    margin-left: 190px;
}
.anhsp img{
    width: 190px;
    margin-top: 20px;
}
.anhsp hr{
    margin-top: 40px;
    width: 720px;
}



/*==========Chi tiết==========*/
.chitiet{
    height: 100%;
    padding: 0;
    color: #7a7a7a;
}

.ten{
    font-size: 19px;
    font-weight: 550;
    color: black;
    margin-bottom: 20px;
}
.gioithieu{
    margin-bottom: 20px;
}
label{
    margin-right: 5px;
}
select{
    border: none;
    width: 50px;
}
.soluong{
    margin-left: 20px;
}
 
.icontt{
    font-size: 20px;
    margin-top: 20px;
}
i{
    color: #000000;
}
i:hover{
    color: #7a7a7a;
}

#i2{
    margin-left: 20px;
}
.tien{
    font-size: 17px;
    margin-top: 19px;
}

.vnd{
    font-weight: 100; 
    font-size: 15px;
}
/*==========Thanh toán==========*/

.thanhtoan{
    margin-left: 50px;
}
.tieude{
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: 540;
}

.nuttt button {
    width: 325px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 50px;

}

.nuttt button:hover {
    background-color: rgb(96, 96, 96);
}
.tien1{
    float: right;
    font-weight: 600;
}

.goiy{
    font-size: 28px;
    margin: 60px 50px;
}



/*================= Form: Thanh toán ===================*/
.mnn{
    height: 60px;
    margin-bottom: 70px;
    border-bottom: 1px solid #7a7a7a;
}
.mnn img{
    padding: 10px 20px;
    width: 90px;
}
#ex{
    float: right;
    font-size: 24px;
    padding: 17px 16px;
}
#ex:hover{
    color: #a9a9a9;
}
.alltt{
    display: grid;
    grid-template-columns: 60% 35% ;
    font-family: Arial;
    font-size: 16px;
    color: black;


}
.mn img{
    width: 30px;
}

#vn{
    font-size: 7px;
    color: rgb(1, 183, 1);
    float: right;
    margin-right: 20px;
    line-height: 15px;
}
 .tt select{
    border: 1px solid #c7c7c7;
    width: 400px;
    height: 60px;
    color: #7f7f7f;

}
input{
    width: 395px;
    height: 60px;
    border: 1px solid #c7c7c7;
    border-radius: 7px;
    color: #7f7f7f;
}
input:focus {
    color: black;
    font-weight: 400;
    font-size: 15px;
}

.bttt button{
    width: 400px;
    border: 2px solid #000000;
    height: 60px;
    background-color: #fff;
    border-radius: 7px;
    margin-bottom: 20px,;

}


.formtt{
    margin-left: 300px;
    
}
.nuttt button{
    width: 400px;
}



