:root {
  /* --color-mau_trang_chu: #f3f3f3; */
  --color-primary: #002c49;
  --color-secondary: white;
  --color-thirdy: #00426e;
  --color-nau_nhat : #858585;
}

  .form-tt {
    margin-top: 100px;
  }
  
   .form-tt input {
    width: 437px;
    height: 60px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #7f7f7f;
    margin-top: 25px;
    padding: 0 20px;
  }

  .form-tt input:focus {
    color: var(--color-primary);
    font-weight: 400;
    font-size: 15px;
  }
  

/* ============FORM thanh toán============*/

  .form-tt form{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .form-tt span{
    font-size: 20px;
  }
  .tt select {
    border: 1px solid #c7c7c7;
    width: 437px;
    height: 60px;
    color: #7f7f7f;
    padding-left: 17px;
    margin: 25px 0;
    border-radius: 5px;
  }
  .tt select option{
    line-height: 100px;
  }
 
  .bttt p {
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    width: 434px;
    height: 50px;
    margin: 40px 0;
    padding-top: 23px;

  }
  .bttt p a{
  color: var(--color-primary);
  padding: 0px 23px;
  }
  #icon-tich {
    display: block;
    font-size: 7px;
    color: rgb(1, 183, 1);
    margin-left: 400px;
    margin-top: -13px;
  }
  #icon{
    font-size: 22px;
    margin-right: 20px;
  }

  .nut-tt input {
    border-radius: 50px;
    width: 437px;
    height: 70px;
    background-color: var(--color-primary);
    color: #fff;
    margin-top: 50px;
    font-size: 22px;
    cursor: pointer;
  }
  .nut-tt input:hover {
    background-color: var(--color-thirdy);
  }

  /* ============Tóm tắt chi phí============*/
.tieude-tt{
  font-size: 25px;
}
.tomtat-tt{
  color: #8d8d8d;
  font-size: 16px;
  margin: 0px 3px;
}

.tc-tt{
  padding: 30px 0;
  color: var(--color-primary);
  font-size: 18px;
}
.gia-tt{
  float: right;
  font-weight: bold;
  color: rgb(80, 80, 80);
}
.thongtin-tt{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top:20px ;
  line-height:1.5;
}
