.cart-content {
    margin: 100px auto;
    width: 70%;
}

.mb {
    margin-bottom: 30px;
}

.mb10 {
    margin-bottom: 10px;
}

.formtaikhoan input[type="text"],
.formtaikhoan input[type="password"],
.formtaikhoan input[type="email"], 
.frmdsloai input[type="text"] {
    width: 50%;
    border: 1px #CCC solid;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.formtaikhoan input[type="submit"],
.formtaikhoan input[type="reset"],
.frmdsloai input[type="submit"],
.frmdsloai input[type="reset"],
.frmdsloai input[type="button"] {
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 10px 40px;
    color: #fff;
    cursor: pointer;
    height: 60px;
    font-size: 13px;
    border-radius: 50px;
    margin-right: 15px;
}

.ghinho {
    background-color: white;
    border: 1px #CCC solid;
    border-radius: 5px;
}

.formtaikhoan input[type="submit"]:hover,
.formtaikhoan input[type="reset"]:hover,
.frmdsloai input[type="submit"]:hover,
.frmdsloai input[type="reset"]:hover,
.frmdsloai input[type="button"]:hover {
    background-color: #393939;
}

.frmtitle {
    background-color: #EEE;
    border: 1px #CCC solid;
    border-radius: 5px;
    color: #666;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.frmdsloai {
    padding: 20px 0px
}

.frmdsloai div {
    margin-left: 5px;
    margin-right: 5px;
}

.frmdsloai table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.frmdsloai table th {
    padding: 20px;
    background-color: #afafaf;
    color: #373737;
}

.frmdsloai table td {
    padding: 30px 60px;
    border: 1px #c2c2c2 solid;
    background-color: #f6f6f6;
    font-size: 20px;
}
.frmdsloai table td i{
    font-size: 20px;
}
.frmdsloai table td i:hover{
    color: #666;
}
.mb10 {
    margin-bottom: 10px;
}

.search-form select,
.frmdsloai select {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.boxlogo{
    text-align: center;
    margin-bottom: 20px;
}

.boxtitle {
    color: #333;
    font-size: 18px;
    margin-bottom: 30px;
    
}

.boxcontent {
    min-height: 100px;
    padding: 20px;
    left : 0
}

.boxcontent li {
    margin-bottom: 10px;
}

.boxcontent input[type="radio"] {
    margin: 0 5px 20px 0;
}

.box-thank {
    display: flex;
    justify-content: center;
    align-items: center;
}

.from-user-input input[type="text"] {
    width: 250px;
    margin: 10px 20px;
    
}

.from-user-output {
    padding: 10px 20px;
}
strong{
    font-size:14px ;
}
