/*------------CSS thuộc tính chung----------------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

:root {
    /* --color-mau_trang_chu_cu: #f3f3f3; */
    --color-primary: #002c49;
    --color-secondary: white;
    --color-thirdy: #00426e;
    --color-nau_nhat : #858585;
}

.cta-btn {
    padding: 20px 30px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 30px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.cta-btn:hover {
    background-color: var(--color-thirdy);
    color: var(--color-secondary);
}
tr,td,th{
    white-space: nowrap;
}
/*----------------------Phần đầu trang----------------------*/

.header-top-logo img {

    margin-left: -1291px;
    width: 35px;
    height: auto;
    margin-top: -3px;
}

.nikestore-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.header-top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #f3f3f3;
    padding: 10px 5%;
    box-sizing: border-box;
    height: 30px;
}

.sign-btn {
    display: block;
    color: var(--color-primary);
    font-size: 12px;
    font-weight: bolder;
    padding: 2px 0;
    margin-top: -3px;

}

#sign-icon {
    margin-left: 8px;
    color: var(--color-primary);
    font-size: 16px;
    margin-top: 1px;
}
#sign-icon-out {
    margin-left: 8px;
    color: #9a9a9a;
    font-size: 16px;
    margin-top: 1px;
}


/* .sign-gach {
    font-size: 14px;
    margin-top: -1px;
    margin-left: 20px;
    font-weight: bold;
    margin-right: 9px;
} */
.spchitiet-gach {
    margin: 0 20px;
}

.sign-exit {
    font-weight: bold;
    display: block;
    font-size: 12px;
    color: #9a9a9a;
}
.sign-exit:hover{
    color: black;
}
.sign-exit:hover #sign-icon-out{ 
    color: black;
}
.header-top__box-icon:hover .sign-btn,
.header-top__box-icon:hover #sign-icon {
    color: var(--color-thirdy);
}

.header-top__box-icon {
    cursor: pointer;
}

.header-top__box-item {
    padding: 15px 0;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -10px;
}

.header-top__box-item ul {
    display: none;
}

.header-top__box-item:hover ul {
    display: block;
}

.header-top__box-item ul {
    position: absolute;
    top: 30px;
    right: -130px;
    background-color: #fff;
    z-index: 1;
    padding-top: 5px;
    border-radius: 10px;

}

.header-top__box-item li {
    width: 180px;
    list-style: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 12px;
    color: var(--color-primary);
    color: #9a9a9a;
}


.header-top__box-item li:hover {
    color: #000000;
}

.header-bot {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.logo-nike{
    flex: 1;
}
.logo-nike img {
    width: 100px;
}
.header-menu {
    flex: 4;
    display: flex;
    list-style: none;
    justify-content: center;
}

.header-menu li {
    font-size: 18px;
    margin: 0 40px;

}

.header-menu li a {
    color: black;
    font-size: 20px;
}

.header-menu li a:hover {
    color: #9a9a9a;
}



.header-bot-1 {
    width: 100%;
    text-align: center;
    background-color: #f3f3f3;
    height: 75px;
    padding-top: 10px;
    margin-bottom: 30px;

}

.header-bot-1 span {
    font-size: 19px;
}

.header-bot-1 p {
    font-size: 13px;
    padding-top: 5px;
    display: block;
}

.header-bot-1 .a {
    padding: 5px 0;
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}



/*------------icon header--------------*/
.header-icon {
    flex: 1;
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}
.love-icon{
    margin: 0 15px;
}
/*---------------- Phần thanh tìm kiếm-----------------*/
.search-form {
    position: relative;
}

.search-box__text {
    padding: 10px;
    border-radius: 50px;
    background-color: #f3f3f3;
    border: none;
    width: 200px;
}

.search-icon {
    width: 20px;
    opacity: .3;
    padding-right: 10px;
}

.search-btn {
    background-color: rgb(255, 255, 255, 0);
    position: absolute;
    border: none;
    top: 6px;
    right: 5px;
    cursor: pointer;
}


/* Banner */
.mySlides {
    position: relative;
    display: none;
    width: 90%;
    margin: auto;
}

.number-text {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-weight: bold;
}

/*----------------Tiêu đề giữa trang--------------- */
.listsp-des {
    text-align: center;
}

.listsp-des h1 {
    font-size: 40px;
    margin-top: 40px;
}

.listsp-des p {
    margin: 20px 0 80px 0;
}


/* -----------------Slide sản phẩm-------------------*/

/* ----Fading animation----- */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .6
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .6
    }

    to {
        opacity: 1
    }
}


.carousel-container {
    position: relative;
    overflow: hidden;
    width: 65%;
    margin: 80px auto;


}

.product-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.product {
    width: 250px;
    margin: 0 10px;
    padding: 10px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    position: relative;
}

.product-des {
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.product-des p {
    white-space: pre;
}

.product-des a {
    color: var(--color-primary);
}

.product-des a:hover {
    color: var(--color-thirdy);
}

.product-des span {
    color: rgb(255, 187, 0);
}

.product img {
    max-width: 100%;
    max-height: 100%;
}

.btn-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(160, 179, 192, 0.3);
    color: var(--color-secondary);
    /* Màu chữ */
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    left: 0;
}

.btn-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(160, 179, 192, 0.3);
    color: var(--color-secondary);
    /* Màu chữ */
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    right: 0;
}

.btn-prev:hover {
    background-color: rgba(160, 179, 192, 0.7);
}

.btn-next:hover {
    background-color: rgba(160, 179, 192, 0.7);
}

/*--------Banner giữa trang-----------*/
.mid-des {
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}

.mid-des img {
    width: 80%;
}

/*----------Banner theo độ tuổi và giới tính --------------*/
.bot-banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 5%;
}

.bot-banner__item {
    position: relative;
}

.bot-banner img {
    width: 100%;
}

.bot-banner-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    min-width: 60px;
    text-align: center;
}

/*----------------sản phẩm tiêu biểu----------*/
.product_tb {
    margin: auto;
    width: 90%;
}

.product_tb1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.product_tt1 {
    margin: auto;
    width: 60%;
    line-height: 40px;
    font-size: 20px;
    font-variant: small-caps;
}

.product_tb0 {
    display: flex;
}

.product_tb0 a {
    margin: auto;
}

.product_tb0 img {
    width: 100%;
}

/*----------------phần footer----------------*/

.nikestore-footer {
    background-color: #111111;
    padding: 50px 5%;
    margin-top: 80px;
    box-sizing: border-box;
}

.top-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top-footer__item {
    display: flex;
    justify-content: space-evenly;
}

.top-footer-col h4 {
    color: var(--color-secondary);
    margin-bottom: 30px;
    font-size: 16px;
}

.top-footer-col p {
    color: var(--color-nau_nhat);
    margin-bottom: 30px;
    font-size: 14px;
}

.top-footer-col p:hover {
    color: #b4b4b4;
}

/*-------------phần icon cuối trang-----------*/

.top-footer__logo {
    display: flex;
    justify-content: flex-end;
}

.top-footer__icon {
    margin-left: 20px;
}

.bot-footer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
}

.bot-footer__local {
    display: flex;
    align-items: center;
}

.bot-footer__local p {
    margin-left: 40px;
}

.bot-footer__item {
    display: flex;
    justify-content: space-between;

}

.bot-footer__local h4 {
    color: var(--color-secondary);
    margin-left: 10px;
}

.bot-footer__item p,
.bot-footer__local p {
    color: var(--color-nau_nhat);
    font-size: 14px;

}

.bot-footer__item p:hover {
    color: #b4b4b4;

}

/*---------- Trang sản phẩm --------------*/
.product-col {
    display: grid;
    grid-template-columns: 15% 3% 85%;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
    padding-top: 40px;

}

.product-col-right {
    margin-left: 40px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-box {
    margin-bottom: 60px;
}

.product-box__img {
    width: 100%;
}

.product-name {
    margin: 10px 0;
    color: var(--color-primary);
    font-weight: 500;

}

.product-name:hover {
    color: var(--color-thirdy);
}

.product-price {
    font-weight: 300;
    color: #5d5d5d;
}



/*--------- menu trái trang sản phẩm------------*/
.title-mnd {
    font-size: 29px;
    font-weight: bold;
    margin-top: -10px;
    margin-left: 5px;
}

.product-col-left {
    margin-top: 50px;
    list-style: none;
    color: #111111;
    margin-left: -200px;
    max-height: 530px;
    /* Chiều cao tối đa của vùng chứa */
    overflow-y: auto;
    /* Hiển thị thanh kéo khi nội dung vượt quá max-height */
    scrollbar-width: thin;
    /* Cho Firefox */
    scrollbar-color: gray #f1f1f1;
    /* Màu nền và màu của thanh kéo */
}

/*===============thanh kéo============== */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}

.mnd a {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #111111;
}

.mnd a:active {
    color: #111111;
}

.mnd a:hover {
    color: #848484;
}

.mnd input {
    margin-top: 10px;
    font-size: 16px;
}

.product-col-left hr {
    width: 210px;
    color: #a5a5a5;
    margin: 30px 0;
}

.hinh {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(200, 200, 200);
    margin: 10px 15px;
}


.hinh:active {
    border: 1px solid var(--color-primary);

}

/* Thiết lập giao diện checkbox */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    margin-right: 10px;
}

/* Thiết lập giao diện checkbox khi được chọn */
input[type="checkbox"]:checked {
    background-color: #000000;
}



#angne {
    float: right;
    padding-right: 20px;
    padding-top: 3px;
}







/*--------- Phần thông số bên phải------------*/
.box-chitiet {
    margin: 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding: 0 5%;
}

.box-chitiet__text {
    line-height: 24px;
    width: 50%;
}

.box-chitiet__col {
    display: flex;
    justify-content: flex-end;
}

.box-chitiet__col-img {
    width: 80%;
}

.box-chitiet__des h3 {
    margin: 20px 0;
}

.btn-cart {
    background-color: var(--color-primary);
    border-radius: 30px;
    padding: 16px 0;
    color: var(--color-secondary);
    font-size: 20px;
    margin-bottom: 30px;
    width: 300px;
    border: none;
    cursor: pointer;
}

.btn-cart:hover {
    background-color: var(--color-thirdy);
}

.btn-love {
    cursor: pointer;
    margin-top: 70px;
    background-color: var(--color-secondary);
    border-radius: 30px;
    padding: 14px 0;
    border: 1px solid #b9b9b9;
    margin: 30px 0;
    width: 300px;
    font-size: 20px;
    text-align: center;
    color: var(--color-primary);
}

.btn-love:hover {
    border: 1px solid var(--color-primary);
}

.btn-love img {
    width: 15px;
}

/*---------------Chọn kích cỡ------------------*/
.select-size {
    border: none;
    width: 50px;
    font-weight: bold;
    font-size: 18px;
}

/*-----------Phần bình luận--------------*/

.box-binhluan{
    width: 90%;
    margin: auto;
}
.box-search-output{
    border-radius: 10px;
    border: 2px solid #c4c4c4;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.box-search-item{
    display: flex;
    max-width: 200px;
    padding-bottom: 5px;
    border-bottom: 1px solid #c4c4c4;
    margin: 20px;
}
.font-bold{
    font-weight: bold;
    
}
.box-search-input{
    margin-top: 20px;
}
.box-search-input form{
width: 80%;

}
.box-noidung{
width: 100%;
padding: 5px 10px;
border-radius: 5px;
margin-bottom: 20px;
border-color: #c4c4c4;
}
.binhluan-gach{
    margin: 0 5px;
}
.binhluan-btn{
    padding: 10px 20px;
    border: none;
}
.binhluan_text{
    margin-left: 20px;
}
